body{
    padding: 0;
    margin: 0;
    background-image: url('https://e0.pxfuel.com/wallpapers/73/76/desktop-wallpaper-heavy-metal-guitar-background-page-2-heavy-metal-concert.jpg');
    background-position: center;
}
.logoIMG{
    width: 20vh;
    height: 15vh;
    
}